<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="Log//" />
		<param name="AppendToFile" value="true" />
		<param name="MaximumFileSize" value="102KB" />
		<param name="MaxSizeRollBackups" value="10" />
		<param name="StaticLogFileName" value="false" />
		<param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
		<param name="RollingStyle" value="Composite" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date %5level  %logger.%method [%line] - %newlineMESSAGE: %message -  EXCEPTION: %exception%newline"  />
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="InfoAppender" />
	</root>
</log4net>